docs/plans/agromar-n8n-workflow.json
{
  "name": "AGROMAR - Envío de Tickets y Abonos por WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agromar-ventas",
        "options": {}
      },
      "id": "18cf3b63-1250-4824-a745-985f479a9574",
      "name": "Webhook - Nueva Venta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agromar-abonos",
        "options": {}
      },
      "id": "98e4d3a2-2541-4c6e-b6e4-ed23490f2b34",
      "name": "Webhook - Nuevo Abono",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/agromar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "agromarApiKey123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": ($json.body.lada || '52') + $json.body.phone, \"text\": $json.body.text } }}",
        "options": {}
      },
      "id": "673f84bd-3450-47b2-85f2-6bfbd83a9584",
      "name": "HTTP Request - Enviar Ticket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/agromar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "agromarApiKey123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": ($json.body.lada || '52') + $json.body.phone, \"text\": $json.body.text } }}",
        "options": {}
      },
      "id": "cd93e4f2-4521-4f9e-b7d4-cf32490fa2b4",
      "name": "HTTP Request - Enviar Recibo Abono",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Nueva Venta": {
      "main": [
        [
          {
            "node": "HTTP Request - Enviar Ticket",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Nuevo Abono": {
      "main": [
        [
          {
            "node": "HTTP Request - Enviar Recibo Abono",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8d8f2ac-0c2d-4d7a-a38f-ee23490f2b34",
  "id": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
